In [49]:
import numpy as np
import pandas as pd
from Model import LinearRegression

In [50]:
data = pd.read_csv('Housing.csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [51]:
data['mainroad'].info

<bound method Series.info of 0      yes
1      yes
2      yes
3      yes
4      yes
      ...
540    yes
541     no
542    yes
543     no
544    yes
Name: mainroad, Length: 545, dtype: object>

In [52]:
drop = data.select_dtypes(include=['object']).columns
data = data.drop(columns=drop)
data

        price  area  bedrooms  bathrooms  stories  parking
0    13300000  7420         4          2        3        2
1    12250000  8960         4          4        4        3
2    12250000  9960         3          2        2        2
3    12215000  7500         4          2        2        3
4    11410000  7420         4          1        2        2
..        ...   ...       ...        ...      ...      ...
540   1820000  3000         2          1        1        2
541   1767150  2400         3          1        1        0
542   1750000  3620         2          1        1        0
543   1750000  2910         3          1        1        0
544   1750000  3850         3          1        2        0

[545 rows x 6 columns]

In [53]:
y = data['price']
X = data.drop(columns='price')
X

     area  bedrooms  bathrooms  stories  parking
0    7420         4          2        3        2
1    8960         4          4        4        3
2    9960         3          2        2        2
3    7500         4          2        2        3
4    7420         4          1        2        2
..    ...       ...        ...      ...      ...
540  3000         2          1        1        2
541  2400         3          1        1        0
542  3620         2          1        1        0
543  2910         3          1        1        0
544  3850         3          1        2        0

[545 rows x 5 columns]

In [54]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [55]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [56]:
X_train_scaled

array([[ 0.38416819,  0.05527092,  1.53917323,  2.58764353,  0.36795665],
       [ 0.9291807 ,  0.05527092,  1.53917323, -0.91249891,  2.70998729],
       [-0.60775457, -1.28351359, -0.5579503 , -0.91249891,  1.53897197],
       ...,
       [-0.29709744,  0.05527092,  1.53917323,  1.42092939,  0.36795665],
       [-0.5060189 , -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.15707965,  0.05527092,  1.53917323,  2.58764353,  0.36795665]])

In [57]:
X_test_scaled

array([[ 0.33875048,  1.39405543,  1.53917323,  0.25421524,  0.36795665],
       [ 0.61125674,  0.05527092,  1.53917323,  1.42092939, -0.80305867],
       [-0.5060189 , -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.0700089 ,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.54235307,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.7111757 ,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [ 1.52869446,  0.05527092, -0.5579503 , -0.91249891,  1.53897197],
       [-0.07455067,  1.39405543,  1.53917323,  0.25421524, -0.80305867],
       [-0.86936058, -1.28351359, -0.5579503 , -0.91249891,  0.36795665],
       [-1.11461621,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [ 1.55594508,  1.39405543,  3.63629675,  2.58764353,  1.53897197],
       [-0.55416168, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.65135557, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.93294537,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.5378113 ,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.69223151,  0.05527092,  3.63629675,  0.25421524, -0.80305867],
       [-1.43254017, -1.28351359, -0.5579503 ,  0.25421524, -0.80305867],
       [ 0.38416819,  0.05527092, -0.5579503 ,  0.25421524,  0.36795665],
       [ 0.31604163,  0.05527092, -0.5579503 ,  0.25421524,  0.36795665],
       [ 0.38416819, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.06092536,  0.05527092, -0.5579503 ,  2.58764353, -0.80305867],
       [ 0.75886429,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [-0.68360215, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.61502141,  0.05527092, -0.5579503 ,  0.25421524,  0.36795665],
       [ 1.40606664,  0.05527092, -0.5579503 , -0.91249891,  2.70998729],
       [ 2.18270947,  0.05527092,  1.53917323,  0.25421524,  1.53897197],
       [-0.93748714, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.97836308,  0.05527092,  1.53917323,  0.25421524, -0.80305867],
       [ 3.65424324,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [-0.97836308, -1.28351359, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.52418599,  0.05527092,  1.53917323,  0.25421524, -0.80305867],
       [-0.92386183,  0.05527092, -0.5579503 ,  0.25421524,  0.36795665],
       [ 0.38416819,  0.05527092,  1.53917323,  1.42092939, -0.80305867],
       [ 0.6634871 ,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.17219874,  1.39405543, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.25167973,  0.05527092,  1.53917323,  0.25421524,  0.36795665],
       [-0.23078759,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [-0.8966112 ,  1.39405543, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.76035808,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [-1.0751028 ,  1.39405543,  1.53917323,  0.25421524, -0.80305867],
       [ 1.28343883,  0.05527092, -0.5579503 , -0.91249891,  1.53897197],
       [-0.69223151, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.57492257,  0.05527092,  1.53917323,  1.42092939, -0.80305867],
       [-0.43335057,  0.05527092, -0.5579503 ,  0.25421524,  0.36795665],
       [ 0.72480101, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.33193783, -1.28351359, -0.5579503 , -0.91249891,  0.36795665],
       [ 0.38416819,  0.05527092,  1.53917323,  2.58764353, -0.80305867],
       [-0.23351265,  1.39405543, -0.5579503 ,  0.25421524,  0.36795665],
       [ 1.31523123, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.97836308, -1.28351359, -0.5579503 , -0.91249891,  1.53897197],
       [ 1.0540794 ,  0.05527092,  1.53917323,  2.58764353,  1.53897197],
       [-0.97836308, -1.28351359, -0.5579503 , -0.91249891,  0.36795665],
       [ 1.18806164, -1.28351359, -0.5579503 , -0.91249891,  0.36795665],
       [-0.29709744,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.68768974,  1.39405543, -0.5579503 ,  0.25421524, -0.80305867],
       [-1.01923902,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.27062392,  0.05527092,  1.53917323,  2.58764353,  0.36795665],
       [-1.25086933,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [ 0.58854788,  1.39405543, -0.5579503 ,  0.25421524, -0.80305867],
       [-0.61502141, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.8966112 , -1.28351359,  1.53917323, -0.91249891,  1.53897197],
       [-1.37122626,  0.05527092,  1.53917323,  0.25421524, -0.80305867],
       [ 0.58400611, -1.28351359, -0.5579503 , -0.91249891,  2.70998729],
       [-0.08817598, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.09349485,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [-0.63318849,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [ 0.65667445, -1.28351359,  1.53917323,  2.58764353, -0.80305867],
       [-0.97836308,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [ 1.47419321,  1.39405543, -0.5579503 ,  2.58764353,  2.70998729],
       [ 0.24791506,  0.05527092, -0.5579503 , -0.91249891,  1.53897197],
       [-1.04648964,  0.05527092,  1.53917323,  0.25421524, -0.80305867],
       [ 0.54767194,  0.05527092, -0.5579503 ,  1.42092939, -0.80305867],
       [ 1.47419321, -1.28351359, -0.5579503 , -0.91249891,  0.36795665],
       [ 2.4279651 ,  0.05527092,  1.53917323, -0.91249891,  0.36795665],
       [-1.12188304, -1.28351359, -0.5579503 , -0.91249891,  0.36795665],
       [-0.40609994,  1.39405543,  1.53917323,  0.25421524, -0.80305867],
       [-0.69223151,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [-0.15403166, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.38416819,  0.05527092, -0.5579503 , -0.91249891,  0.36795665],
       [ 0.06624423,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [ 0.54767194,  1.39405543,  1.53917323,  1.42092939,  1.53897197],
       [-0.48785182,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [ 0.15707965,  0.05527092,  1.53917323, -0.91249891,  1.53897197],
       [ 0.68846684,  0.05527092, -0.5579503 ,  1.42092939, -0.80305867],
       [-1.5687933 ,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [ 0.36600111,  0.05527092,  3.63629675,  0.25421524,  0.36795665],
       [-1.0691985 ,  0.05527092, -0.5579503 , -0.91249891, -0.80305867],
       [-0.77398339,  0.05527092, -0.5579503 ,  0.25421524,  0.36795665],
       [ 1.02909966,  1.39405543,  1.53917323,  1.42092939,  1.53897197],
       [ 0.38416819,  1.39405543,  3.63629675,  0.25421524,  1.53897197],
       [-1.47568699,  2.73283993, -0.5579503 ,  0.25421524, -0.80305867],
       [ 1.31523123,  0.05527092, -0.5579503 , -0.91249891,  0.36795665],
       [ 0.13437079, -1.28351359, -0.5579503 , -0.91249891, -0.80305867],
       [-0.79215047,  0.05527092, -0.5579503 ,  0.25421524, -0.80305867],
       [ 1.55594508,  2.73283993,  3.63629675,  0.25421524,  1.53897197],
       [-0.66043912,  1.39405543, -0.5579503 ,  0.25421524, -0.80305867],
       [ 0.30604973,  1.39405543, -0.5579503 ,  2.58764353, -0.80305867],
       [ 0.29333277,  0.05527092,  1.53917323,  2.58764353, -0.80305867],
       [ 0.15707965,  0.05527092, -0.5579503 ,  1.42092939,  0.36795665],
       [ 0.65667445,  1.39405543,  1.53917323, -0.91249891, -0.80305867],
       [-0.86936058,  0.05527092, -0.5579503 ,  0.25421524,  1.53897197],
       [-0.25167973,  0.05527092,  1.53917323,  0.25421524,  1.53897197],
       [-0.99198839,  0.05527092, -0.5579503 ,  1.42092939, -0.80305867],
       [-0.84210995,  0.05527092,  3.63629675,  0.25421524, -0.80305867],
       [ 0.38416819,  1.39405543, -0.5579503 ,  0.25421524,  1.53897197],
       [ 0.80655289,  1.39405543, -0.5579503 ,  0.25421524,  0.36795665],
       [ 0.38416819,  1.39405543,  1.53917323,  2.58764353,  0.36795665],
       [ 0.38416819,  0.05527092,  1.53917323,  0.25421524,  0.36795665],
       [ 0.4295859 ,  0.05527092,  1.53917323, -0.91249891,  1.53897197]])

In [58]:
X_train_scaled.shape

(436, 5)

In [59]:
y_train.shape

(436,)

In [63]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)
model.predict(X_test_scaled)

ValueError: shapes (436,6) and (1,6) not aligned: 6 (dim 1) != 1 (dim 0)