In [1]:
import pandas as pd
import numpy as np

In [2]:
email = 'jose@gmail.com'

In [3]:
email.split('@')

['jose', 'gmail.com']

In [4]:
email.isdigit()

False

In [5]:
names = pd.Series(['jose', 'bobo', 'claire', 'david', '5'])

In [6]:
names.str.upper()

0      JOSE
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [7]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
tickers = pd.Series(['GOOGLE, AMAZON, APPLE', 'JPM, BAC, GS'])

In [9]:
tickers.str.split(',')

0    [GOOGLE,  AMAZON,  APPLE]
1             [JPM,  BAC,  GS]
dtype: object

In [10]:
companies = tickers.str.split(',')[0]

In [11]:
companies

['GOOGLE', ' AMAZON', ' APPLE']

In [12]:
messy_names = pd.Series([' andrew  ','bo;bo', ' nan,cy '])
messy_names = messy_names.str.replace(';', '').str.strip()
messy_names = messy_names.str.replace(',', '').str.strip().str.capitalize()

In [13]:
messy_names

0    Andrew
1      Bobo
2     Nancy
dtype: object

In [14]:
# another method
messy_names = pd.Series([' andrew  ','bo;bo', ' nancy '])
def cleaner(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name

# method 1: use apply
cleanup_messy_name_1 = messy_names.apply(cleaner)
# method 2: use vectorize
cleanup_messy_name_2 = np.vectorize(cleaner)(messy_names)

In [15]:
cleanup_messy_name_1

0    Andrew
1      Bobo
2     Nancy
dtype: object

In [16]:
cleanup_messy_name_2

array(['Andrew', 'Bobo', 'Nancy'], dtype='<U6')