In [1]:
import pandas as pd

In [4]:
ls

 Volume in drive C is Acer
 Volume Serial Number is C206-ECC0

 Directory of c:\Users\ply58\PythonML\ML_git\Python_ML\Pandas

02/22/2025  11:39 AM    <DIR>          .
02/21/2025  11:41 PM    <DIR>          ..
02/21/2025  11:37 PM           747,477 1. Series.ipynb
02/22/2025  11:37 AM             6,989 10. ExcelFile.ipynb
02/21/2025  11:37 PM           147,241 2. DataFrame.ipynb
02/21/2025  11:37 PM           187,507 3. UsefulMethods.ipynb
02/21/2025  11:37 PM            55,432 4. MissingData.ipynb
02/21/2025  11:37 PM           168,452 5. GroupByOperation.ipynb
02/21/2025  11:37 PM            16,424 6. Combining_Concatenation.ipynb
02/21/2025  11:37 PM            32,006 7. Combination_Merge.ipynb
02/21/2025  11:25 PM             5,674 8. TextMethods.ipynb
02/21/2025  11:14 PM            19,819 9. TimeMethods.ipynb
02/22/2025  11:39 AM                 0 CSVFile.ipynb
02/22/2025  11:28 AM             5,068 example.xlsx
02/22/2025  11:27 AM             6,693 ExcelFile.ipynb
02/21/2025  11:37 PM            18,125 mpg.csv
02/21/2025  11:37 PM                 2 README.md
              15 File(s)      1,416,909 bytes
               2 Dir(s)  177,097,269,248 bytes free

In [5]:
import os

In [6]:
os.getcwd()

'c:\\Users\\ply58\\PythonML\\ML_git\\Python_ML\\Pandas'

In [ ]:
df = pd.read_csv('C:\\Users\\ply58\\PythonML\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\example.csv', 
                 index_col=0)

In [11]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [14]:
df.to_csv('new_csv.csv')